parameters:
    level: 9
    paths:
        - classes
        - index.php
    excludePaths:
        - tests
        - collections/example_*.php

    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#Call to an undefined method Kirby\\Cms\\Ingredients::#'
        - '#Static property Bnomei\\Janitor::\$singleton#'
        -
            identifier: missingType.iterableValue
