name: Pest Tests

on:
  push:
    paths:
      - "**.php"
      - "composer.lock"
  pull_request:
    paths:
      - "**.php"
      - "composer.lock"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: composer:v2
          coverage: xdebug

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}

      - name: Install
        run: composer kirby

      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v8.0.0
        with:
          coverageCommand: vendor/bin/pest --ci
          coverageLocations: ${{github.workspace}}/tests/clover.xml:clover
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
